[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
jupytext = "*"
pylint = "*"
mypy = "*"

[packages]
janome = "*"
mecab-python3 = "*"
tensorflow = "*"
tensorflow-datasets = "*"

[requires]
python_version = "3.6"
